/* __________WATCH_ONLINE__________ */

.main {
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.section__watch_online {
    max-height: 780px;
    text-align: center;
    position: relative;
    @media (max-width:1001px) {
        max-height: 583px;
        overflow: hidden;
    }
}

.section__watch_online__bg {
    position: relative;
    margin-top: -80px;
    z-index: -1;
    // height: auto; 
    width: 100%; 
    // max-width: 100%; 
    // max-height: 100%;
    // background-size:contain;
    @media (max-width:1001px) {
        // width: 115%;
        margin-top: -110px;
        margin-left: -140px;
        width: 130%; 
    }
}
.watch__inside {
    position: absolute;
    // left: 660px;
    right: 0px;
    width: 500px;
    height: 515px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width:1001px) {
        width: 500px;
        height: 400px;
    }
}

.watch__container {
    position: relative;
    z-index: 2;
    top: 84px;
    display: flex;
    left: 0px;
    // height: 100px;
}

.watch__text {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 106.5px;
    width: 500px;
    height: 400px;
    color: var(--bg-color);
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    line-height: 80px;
    // margin-bottom: 60px;
    @media (max-width:1001px) {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 85px;
        line-height: 75%;
        width: 402px;
        height: 322px;
        color: var(--bg-color);
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        margin-bottom: 0px;
        text-align: center;
        top: -40px;
        left: 40px;
        // right: 0px;
    }

}

.watch__text::before {
    position: absolute;
    content: url('../../assets/images/orange_circe.png');
    z-index: -1;
    top: -70px;
    left: -72px;
    @media (max-width:1001px) {
        position: absolute;
        content: url('../../assets/images/1000/orange_circe_1000.png');
        z-index: -1;
        top: -55px;
        left: -55px;
    }
}

.watch__btn {
    width: 298px;
    height: 54px;
    position: relative;
    z-index: 2;
    left: 103px;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    padding: auto 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;
    margin-right: 200px;
    @media (max-width:1001px) {
        margin-right: 0px;
        margin-left: -215px;
        margin-bottom: 30px;
        
    }
}

.watch__btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.watch__btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.watch__btn:focus {
    background: #767474;
}



/* __________BACKSTAGE__________ */
.section__backstage {
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--bg-color);
    @media (max-width:1001px) {
        padding-top: 110px;
        padding-bottom: 135px;
    }
}

.backstage__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.backstage__text__cont {
    max-width: 465px;
    @media (max-width:1001px) {
        width: 454px;
    }
}

.bck_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: var(--txt-color-light);
    margin-bottom: -35px;
    @media (max-width:1001px) {
        margin-bottom: -35px;
        margin-top: -10px;
    }
    
}

.bck_the {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--txt-color-light);
    margin-top: 55px;
}

.bck_how {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--txt-color-light);
    margin-top: 57px;
}

.dedushka {
    object-fit: cover;
    @media (max-width:1001px) {
        width: 48%;
    }

}

.bck_the_ {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--txt-color-light);
    margin-top: 35px;
    @media (max-width:1001px) {
        line-height: 135%;
    }
}

/* flower_foto1 */

.flower_photo {
    position: absolute;
    overflow-x: hidden;
    width: 203px;
    // height: 605px;
    background-position: right;
    right: 0px;
    top: 15px;
    @media (max-width:1001px) {
        display: none;
    }
}
.flower_photo_img {
    text-align: right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* __________CHOOSE__________ */
.section__choose_your_favorite {
    position: relative;
    height: 1145px;
    background-color: var(--bg-color);
    @media (max-width:1001px) {
        height: 1080px;
        // overflow-x: hidden;
    }
    
}
.choose_cards {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1322px;
    // min-width: 1100px;
    // max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    @media (max-width:1001px) {
        // width: 940px;
        padding-top: 0px;
        // overflow-x: hidden;
    }
}

#meso_1000 {
    display: none;
    @media (max-width:1001px) {
        display: block;
    }
}
.cards__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 888px;
    // overflow: hidden;
    @media (max-width:1001px) {
        height: 820px;
        margin: 0px 0px;
    }
}

.cards__container__up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 1160px;
    // margin: 0px;
    // align-items: center;
    gap: 30px;
    @media (max-width:1001px) {
        // width: 1275px;
        gap: 32px;
    }
}

.cards__container__bottom {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    gap: 30px;
    @media (max-width:1001px) {
        // width: 1275px;
        gap: 32px;
    }
}




.card_border {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    max-width: 368px;
    height: 428px;
    // left: 792px;
    // top: 0px;
    border-radius: 5px;
    padding: 2px;
    @media (max-width:1001px) {
        width: 294px;
        height: 358px;
        // left: 0px;
        // top: 0px;
        border-radius: 5px;
        // padding-top: 1px;
        // padding-left: 1px;
    }
}

.card_text {
    // width: 366px;
    width: 100%;
    height: 500px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 15px;
    position: relative;
    z-index: 2;
    @media (max-width:1001px) {
        width: 289px;
        height: 354px;
        background-color: #FFFFFF;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 15px;
    }
}



.arrows__container__another {
    display: none;
    @media (max-width:1001px) {
        display: flex;
        flex-direction: row;
        gap: 170px;
    }

}

.card {
    padding-top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 5px;   
    overflow: hidden;
    cursor: pointer;
    @media (max-width:1001px) {
        width: 290px;
        height: 355px;
        // padding: 1px auto;
        padding-top: 1px;
        left: 0px;
        top: 0px;
        border-radius: 5px;
        margin: auto;
        overflow: hidden;
        cursor: pointer;
    }

}

.card:hover .card_img_block .card_img {
    transform: scale(1.1);
    transition: transform 0.5s;
    // background-color: #000000;
    opacity: 0.8;
}
.card:hover .card_text {
    top: -370px;
    transition: transform 0.5s;
    background-color: #000000;
    opacity: 0.6;
    @media (max-width:1001px) {
        top: -295px;
    }
}

.card:hover .card_text {
    padding-top: 180px;
}

.card:hover .card_text .card_txt_img {
    opacity: 0;
}

.card:hover .card_text .card_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #E0D8F0;
}

.card:hover .card_text .card_subt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #E0D8F0;
}




.card_img_block {
    // width: 366px;
    max-width: 100%;
    height: 366px;
    overflow: hidden;
    text-align: center;
    @media (max-width:1001px) {
        // width: 290px;
        height: 294px;
    }
}

.card_img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    // width: 366px;
    width: 100%;
    height: 100%;
    // height: 100%;
    // height: 366px;
    // background-size: 

    position: relative;
    z-index: 1;
    @media (max-width:1001px) {
        // width: 289px;
        height: 294px;
    }
}


.card_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.card_subt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}



#desktop_arrows {
    @media (max-width:1001px) {
        display: none;
    }
}

#desk_1000_arrows {
    display: none;
    @media (max-width:1001px) {
        display: block;
    }
}

.arrow {
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    // @media (max-width:1001px) {
    //     display: none;
    // }
}

.arrow:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.arrow:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.arrow:focus {
    background: #767474;
}


/* palm_foto */
.palm_photo {
    position: absolute;
    overflow-x: hidden;
    width: 880px;
    // height: 460px;
    background-position: left;
    left: -495px;
    bottom: -4px;
    padding-bottom: 0px;
    @media (max-width:1001px) {
        width: 356px;
        // height: 460px;
        background-position: left;
        left: -160px;
        // top: 2123px;
        z-index: 0;
    }

}
.palm_photo_img {
    text-align: left;
    // margin-bottom: -5px;
    // height: 100%;
    // width: 100%;
    @media (max-width:1001px) {
        width: 100%;
    }
}


/* strelitzia */
.strel_photo {
    position: absolute;
    overflow-x: hidden;
    width: 368px;
    background-position: left;
    right: 0px;
    bottom: -4px;
    padding-bottom: 0px;
    @media (max-width:1001px) {
        width: 250px;
        background-position: left;
        right: 0px;
        // top: 2144px;
    }
}

.strel_photo_img {
    @media (max-width:1001px) {
        width: 100%;
    }
}


.choose_btn_block {
    height: 165px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 23px;
    @media (max-width:1001px) {
        height: 170px;
    }
    
}

.choose_btn {
    width: 298px;
    height: 54px;
    position: relative;
    z-index: 2;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;
}


.choose_btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.choose_btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.choose_btn:focus {
    background: #767474;
}





/* __________PICK_AND_FEED__________ */

.support_link {
    text-decoration-color: var(--accent-color);
    color: #333B41;
}
.pick_and_feed_white_bg {
    background-color: var(--bg-color);
    position: relative;
    z-index: -1;
    // height: 1004px;
    @media (max-width:1001px) {
        z-index: -2;
    }
}
.section__pick_and_feed {
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 70px;
    position: relative;
    z-index: 3;
    @media (max-width:1001px) {
        height: 875px;
        padding-top: 30px;
    }
}

.pick_and_feed__container {
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-top: 43px !important;
    @media (max-width:1001px) {
        height: 796px;
        padding-top: 28px !important;
    }
}

.pick_title {
    // width: 463px;
    margin: 0 auto;
    height: 58px;
    left: calc(50% - 463px/2 + 1.5px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: var(--accent-scnd-txt-color);
}

.pick_subtitle {
    // width: 844px;
    height: 29px;
    margin: 30px 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--txt-color-light);
    @media (max-width:1001px) {
        margin: 25px 47px;
    }
}

.pick_during {
    // width: 1061px;
    height: 21px;
    margin-top: 38px;
    margin-left: 100px;
    // margin-bottom: 3px;
    margin-right: 50px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--txt-color-light);
    @media (max-width:1001px) {
        margin: 20px 50px;
        // width: 796px;
    }
}

.pick_even {
    // width: 863px;
    height: 42px;
    margin: 8px 100px;
    margin-right: 190px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--txt-color-light);
    @media (max-width:1001px) {
        margin: 30px 50px;
        // width: 796px;
    }
}

.support_link {
    // text-decoration: underline;
    // text-decoration-color: var(--accent-color);
    text-decoration: none; 
    padding-bottom: 4px;
    border-bottom: 2px var(--accent-color) solid;
}

.pick_how {
    width: 209px;
    height: 47px;
    margin: 65px auto;
    margin-bottom: 36px;
    
    /* h3 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: var(--txt-color-light);
    @media (max-width:1001px) {
        margin: 40px auto;
    }
}

.pick_img_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 765px;
    margin: 0 auto;
}

.how_arrow {
    margin-bottom: 90px;
}


.feed_btn_block {
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    @media (max-width:1001px) {
        padding-bottom: 0px;
        margin-top: 60px;
        height: 70px;
    }
}

.pick_btn {
    width: 298px;
    height: 54px;
    position: relative;
    z-index: 2;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;
}

.pick_btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.pick_btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.pick_btn:focus {
    background: #767474;
}


/* __________TESTIMONIALS__________ */
.section__testimonials {
    background-color: var(--bg-color);
    height: 920px;
    position: relative;
    z-index: -1;
    @media (max-width:1001px) {
        height: 842px;
    }
}
.testimonials_title {
    width: 206px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    padding-top: 140px;
    margin: 0px auto;
    margin-bottom: 95px;
    text-align: center;
    color: var(--txt-color-light);
    @media (max-width:1001px) {
        padding-top: 100px;
        margin-bottom: 80px;
    }
}

#Oska_Samborska {
    display: none;
    @media (max-width:1001px) {
        display: block;
        padding: 2px 2px;
    }
}

#Mila_Riksha {
    display: block;
    @media (max-width:1001px) {
        display: none;
    }
}

#Oskar_Samborsky {
    display: block;
    @media (max-width:1001px) {
        display: none;
    }
}
.testimonial_border {
    max-width: 268px;
    padding: 2px;
    height: 391px;
    border-radius: 20px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    // // position: relative;
    // // z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:1001px) {
        // width: 293px;
        height: 391px;
        max-width: 310px;
    }
}

.testimonial_content {
    width: 100%;
    height: 100%;
    background: #F1F3F2;
    border-radius: 20px;
    // position: relative;
    // z-index: 2;
    padding: 14px;
    @media (max-width:1001px) {

        
    }
}


.avatar_block {
    display: flex;
    align-items: center;
    max-width: 238px;
}

.avatar_info_block {
    margin-left: 10px;
    max-width: 175px;
}
.avatar_name {
    max-width: 175px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.avatar_surname {
    max-width: 175px;
    height: 18px;
    left: 63px;
    top: 35px;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}
#otzyv_1000 {
    display: none;
    @media (max-width:1001px) {
        display: block;
    }
}
#otzyv_desktop {
    display: block;
    @media (max-width:1001px) {
        display: none;
    }
}

.otziv_block {
    max-width: 249px;
    height: 318px;
    // left: 0px;
    // top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    // padding-left: 14px;
    padding-top: 11px;
    letter-spacing: 0px;
    overflow-y: hidden;
    @media (max-width:1001px) {
        // width: 270px;
        // height: 318px;
    }
}

.testimonials_content_block {
    display: flex;
    gap: 30px;
    @media (max-width:1001px) {
        display: flex;
        justify-content: space-between;
    }

}

.testimonials_prokrutka {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.line_scroll {
    background-size: contain;
    width: 390px;
    height: 8px;
}

.leave_btn_block {
    height: 100px;
    width: 1160;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 10px;
    @media (max-width:1001px) {
        height: 150px;
    }
    
}

.leave_btn {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    cursor: pointer;
}

.leave_btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.leave_btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.leave_btn:focus {
    background: #767474;
}

.leav_photo {
    position: absolute;
    overflow-x: hidden;
    width: 247px;
    z-index: -3;
    right: 0px;
    top: 645px;
    @media (max-width:1001px) {
        width: 198px;
        z-index: -3;
        right: 0px;
        top: 605px;
    }
}

.leav_photo_img {
    @media (max-width:1001px) {
        width: 133%;
    }
}







