@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


:root {
    --bg-color: #FFFFFF;
    --accent-color: #F9804B;
    --accent-txt-color: #FFEE2E;
    --accent-scnd-txt-color: #FE9013;
    --txt-color-light: #333B41;
    --txt-color: #000000;
}

body {
    font-family: 'Roboto';
    background-color: var(--bg-color);
    overflow-x: hidden;
    // width: 1600px;
    // height: 4975px;
    @media (max-width:1001px) {

    }
}

[class*="__container"] {
    max-width: 1160px;
    margin: 0px auto;
    padding: 0px 0px;
    @media (max-width:1001px) {
        max-width: 940px;
        margin: 0px auto;
        padding: 0px 0px;
    }
}

.main {
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

/* __________HEADER__________ */
.logo_block {
    width: 82px;
    height: 52px;
    left: 220px;
    top: 14px;
    padding-left: 4px;
    padding-top: 3px;
    border: 1.18841px solid #FFFFFF;
    margin-right: 43px;
}
.bambuk {
    margin-top: -24px;
    margin-left: -51px;
}

.main_title {
    width: 73px;
    height: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;

}
.header {
    background-color: var(--txt-color);
    position: relative;
    z-index: 3;
}
.header__container {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 80px;
    width: inherit;
}
.header__logo {
    text-decoration: none;
}
.header__navigation {
    display: flex;
    align-items: center;
    margin-right: 420px;
    @media (max-width:1001px) {
        display: flex;
        align-items: center;
        margin-right: 230px;
    }
}
.header__menu {

}
.menu__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
    @media (max-width:1001px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

}
.menu_item {
}
.menu__link {
    text-decoration: none;
    color: var(--bg-color);
    cursor: pointer;
}

#about {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu__link:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
}

#about:active {
    // color: var(--bg-color);
    background:  var(--bg-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header__author__link {
    text-decoration: none;
    color: var(--bg-color);
}

.header__author__link:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
}


/* __________WATCH_ONLINE__________ */
.section__watch_online {
    height: 780px;
    text-align: center;
    position: relative;
    @media (max-width:1001px) {
        height: 583px;
    }
}

.section__watch_online__bg {
    position: relative;
    margin-top: -80px;
    z-index: -1;
    // height: auto; 
    width: 100%; 
    // max-width: 100%; 
    // max-height: 100%;
    // background-size:contain;
    @media (max-width:1001px) {
        width: 115%;
        margin-top: -70px;
        margin-left: -80px;
    }
}
.watch__inside {
    position: absolute;
    // left: 660px;
    right: 0px;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    @media (max-width:1001px) {
        width: 500px;
        height: 400px;
    }
}

.watch__container {
    position: relative;
    z-index: 2;
    top: 84px;
    display: flex;
    left: 0px;
    // justify-content: flex-end;
    // margin-left: auto;
    // margin-right: auto;
    
    // max-height: 1000px;
}

.watch__text {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 106.5px;
    width: 500px;
    height: 400px;
    color: var(--bg-color);
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    line-height: 80px;
    margin-bottom: 60px;
    @media (max-width:1001px) {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 85px;
        line-height: 75%;
        width: 402px;
        height: 322px;
        color: var(--bg-color);
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        margin-bottom: 0px;
        text-align: center;
        top: -40px;
        left: 40px;
        // right: 0px;
    }

}

.watch__text::before {
    position: absolute;
    content: url('../../assets/images/orange_circe.png');
    z-index: -1;
    top: -70px;
    left: -72px;
    @media (max-width:1001px) {
        position: absolute;
        content: url('../../assets/images/1000/orange_circe_1000.png');
        z-index: -1;
        top: -55px;
        left: -55px;
    }
}

.watch__btn {
    width: 298px;
    height: 54px;
    position: relative;
    z-index: 2;
    left: 103px;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    padding: auto 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;
    margin-right: 200px;
    @media (max-width:1001px) {
        margin-right: 0px;
        margin-left: -215px;
        
    }
}

.watch__btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.watch__btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.watch__btn:focus {
    background: #767474;
}



/* __________BACKSTAGE__________ */
.section__backstage {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--bg-color);
    @media (max-width:1001px) {
        padding-top: 110px;
        padding-bottom: 130px;
    }
}

.backstage__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.backstage__text__cont {
    width: 465px;
    @media (max-width:1001px) {
        width: 454px;
    }
}

.bck_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: var(--txt-color-light);
    margin-bottom: -35px;
    @media (max-width:1001px) {
        margin-bottom: -35px;
        margin-top: -10px;
    }
    
}

.bck_the {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--txt-color-light);
    margin-top: 55px;
}

.bck_how {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--txt-color-light);
    margin-top: 57px;
}

.dedushka {
    // background-size: cover;
    // background-repeat: no-repeat;
    object-fit: cover;
    width:48.5%;
    // height: %;

    
}

.bck_the_ {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--txt-color-light);
    margin-top: 35px;
    @media (max-width:1001px) {
        line-height: 135%;
    }
}

/* flower_foto1 */

.flower_photo {
    position: absolute;
    overflow-x: hidden;
    width: 203px;
    // height: 605px;
    background-position: right;
    right: 0px;
    top: 792px;
    @media (max-width:1001px) {
        display: none;
    }
}
.flower_photo_img {
    text-align: right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* __________CHOOSE__________ */
.section__choose_your_favorite {
    height: 1145px;
    background-color: var(--bg-color);
    @media (max-width:1001px) {
        height: 1090px;
    }
    
}
.choose_cards {
    padding-top: 30px;
    width: 1322px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:1001px) {
        width: 940px;
        padding-top: 0px;

    }
}
.cards__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 888px;
    @media (max-width:1001px) {
        height: 825px;
    }
}

.card_img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 366px;
    height: 366px;
    position: relative;
    z-index: 1;
    @media (max-width:1001px) {
        width: 290px;
        height: 294px;
    }
}

.card_border {
    padding: auto;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    width: 368px;
    height: 428px;
    left: 792px;
    top: 0px;
    border-radius: 5px;
    padding-top: 1px;
    @media (max-width:1001px) {
        width: 294px;
        height: 358px;
    }
}

.card_text {
    width: 366px;
    height: 500px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 15px;
    position: relative;
    z-index: 2;
    @media (max-width:1001px) {
        width: 289px;
        height: 354px;
        background-color: #FFFFFF;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px 0px;
    }
}

.cards__container__up {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    gap: 30px
}

.cards__container__bottom {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    gap: 30px
}

.arrows__container__another {
    display: none;
    @media (max-width:1001px) {
        display: flex;
        flex-direction: row;
        gap: 170px;
    }

}

.card:hover .card_img_block .card_img {
    transform: scale(1.1);
    transition: transform 0.5s;
    // background-color: #000000;
    opacity: 0.8;
}
.card:hover .card_text {
    top: -370px;
    transition: transform 0.5s;
    background-color: #000000;
    opacity: 0.6;
    @media (max-width:1001px) {
        top: -295px;
    }
}

.card:hover .card_text {
    padding-top: 180px;
}

.card:hover .card_text .card_txt_img {
    opacity: 0;
}

.card:hover .card_text .card_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #E0D8F0;
}

.card:hover .card_text .card_subt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #E0D8F0;
}

.card {
    padding-top: 1px;
    width: 364px;
    height: 426px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    @media (max-width:1001px) {
        width: 289px;
        height: 355px;
    }

}


.card_img_block {
    width: 366px;
    height: 366px;
    @media (max-width:1001px) {
        width: 289px;
        height: 294px;
    }
}

.card_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.card_subt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}



#desktop_arrows {
    @media (max-width:1001px) {
        display: none;
    }
}

#desk_1000_arrows {
    display: none;
    @media (max-width:1001px) {
        display: block;
    }
}

.arrow {
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    // @media (max-width:1001px) {
    //     display: none;
    // }
}

.arrow:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.arrow:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.arrow:focus {
    background: #767474;
}


/* palm_foto */
.palm_photo {
    position: absolute;
    overflow-x: hidden;
    width: 880px;
    // height: 460px;
    background-position: left;
    left: -495px;
    top: 2149px;

}
.palm_photo_img {
    text-align: left;
}


/* strelitzia */
.strel_photo {
    position: absolute;
    overflow-x: hidden;
    width: 368px;
    background-position: left;
    right: 0px;
    top: 2334px;
}


.choose_btn_block {
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 23px;
    @media (max-width:1001px) {
        height: 210px;
    }
    
}

.choose_btn {
    width: 298px;
    height: 54px;
    position: relative;
    z-index: 2;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;
}


.choose_btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.choose_btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.choose_btn:focus {
    background: #767474;
}





/* __________PICK_AND_FEED__________ */

.support_link {
    text-decoration-color: var(--accent-color);
    color: #333B41;
}
.pick_and_feed_white_bg {
    background-color: var(--bg-color);
    position: relative;
    z-index: -1;
    // height: 1004px;
}
.section__pick_and_feed {
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 70px;
    position: relative;
    z-index: 3;
    @media (max-width:1001px) {
        height: 875px;
    }
}

.pick_and_feed__container {
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-top: 43px;
    @media (max-width:1001px) {
        height: 755px;
    }
}

.pick_title {
    width: 463px;
    margin: 0 auto;
    height: 58px;
    left: calc(50% - 463px/2 + 1.5px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: var(--accent-scnd-txt-color);
}

.pick_subtitle {
    width: 844px;
    height: 29px;
    margin: 30px 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--txt-color-light);
}

.pick_during {
    width: 1061px;
    height: 21px;
    margin: 38px 100px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--txt-color-light);
}

.pick_even {
    width: 863px;
    height: 42px;
    margin: 8px 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--txt-color-light);
}

.pick_how {
    width: 209px;
    height: 47px;
    margin: 65px auto;
    margin-bottom: 36px;
    
    /* h3 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: var(--txt-color-light);
}

.pick_img_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 765px;
    margin: 0 auto;
}

.how_arrow {
    margin-bottom: 90px;
}


.feed_btn_block {
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.pick_btn {
    width: 298px;
    height: 54px;
    position: relative;
    z-index: 2;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;
}

.pick_btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.pick_btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.pick_btn:focus {
    background: #767474;
}


/* __________TESTIMONIALS__________ */
.section__testimonials {
    background-color: var(--bg-color);
    height: 920px;
    position: relative;
    z-index: -1;
}
.testimonials_title {
    width: 206px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    padding-top: 140px;
    margin: 0px auto;
    margin-bottom: 95px;
    text-align: center;
    color: var(--txt-color-light);
}

.testimonial_border {
    width: 267px;
    height: 391px;
    border-radius: 20px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    // // position: relative;
    // // z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial_content {
    width: 263px;
    height: 388px;
    background: #F1F3F2;
    border-radius: 20px;
    // position: relative;
    // z-index: 2;
}


.avatar_block {
    padding-top: 14px;
    display: flex;
    align-items: center;
    width: 238px;
    padding-left: 14px;
}

.avatar_info_block {
    margin-left: 10px;
    width: 175px;
}
.avatar_name {
    width: 175px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.avatar_surname {
    width: 175px;
    height: 18px;
    left: 63px;
    top: 35px;
    letter-spacing: 0.3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.otziv_block {
    width: 249px;
    height: 318px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    padding-left: 14px;
    padding-top: 11px;
    letter-spacing: 0px;
    overflow-y: hidden;
}

.testimonials_content_block {
    display: flex;
    justify-content: space-between;

}

.testimonials_prokrutka {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.leave_btn_block {
    height: 100px;
    width: 1160;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 10px;
    
}

.leave_btn {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    cursor: pointer;
}

.leave_btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.leave_btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.leave_btn:focus {
    background: #767474;
}

.leav_photo {
    position: absolute;
    overflow-x: hidden;
    width: 247px;
    z-index: -3;
    right: 0px;
    top: 645px;
}



/* ____________FOOTER____________*/

.donate_btn_block {
    height: 100px;
    width: 1160;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 10px;
}

.donate_btn {
    width: 298px;
    height: 54px;
    position: relative;
    z-index: 2;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    cursor: pointer;
}

.donate_btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.donate_btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.donate_btn:focus {
    background: #767474;
}



.footer {
    height: 443px;
    width: 100%;
    background-color: var(--txt-color);
    position: relative;
    z-index: 2;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_left_block {
    width: 390px;
    padding-top: 40px;
}

.footer_right_block {
    width: 765px;
}

.main_btn_block {
    margin-bottom: 36px;
}

.donate_btn_block {
    margin-bottom: 25px;
}

.social_block {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social_row_block {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 2px;
    text-decoration: none;
}

.social_row_block:active {
    color: #4B9200;
}

.social_row_block:active .circe_social {
    background-color: #4B9200;
}


.circe_social {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.social_row_link {
    text-decoration: none;
}
.footer_right_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 800px;
    height: 310px;
}
.footer__navigation {
    width: 365px;
}

.menu_block_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__body_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.form_block {
    width: 370px;
    margin-top: -10px;
    margin-bottom: 200px;
    margin-right: 0px;
}
.form__title {
    width: 237px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.form__item {
    width: 228px;
    height: 40px;
}


.form_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input {
    height: 42px;
    background-color: #000000;
    border-color: #FE9013;
    border-style: 1px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    width: 228px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding-left: 10px;
}


.form__input:focus{
    // border: 3px solid #4B9200;
    // box-shadow: 1px 1px 2px 0 blue;
    // outline-color: #4B9200;
    outline: none;
    border-color: #4B9200;

}

.form__body {
    width: 370px;
}

.submit_btn {
    width: 129px;
    height: 42px;
    background: #F1F3F2;
    border: 1px solid var(--txt-color);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--txt-color);
    cursor: pointer;
}

.submit_btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.submit_btn:active {
    color: #4B9200;
	box-shadow: inset 0 0 0 1px #4B9200;
}

// .submit_btn:focus {
//     background: #767474;
// }




.menu__link_footer {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

}

.menu__link_footer:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu__body_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_block_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 765px;
}


.footer__author {
    padding-top: 15px;
    width: 230px;
    height: 70px;
}

.footer__author__link {
    right: 230px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__author__link:active {
    color: #4B9200;
	text-decoration: underline;
}








