
/* ____________FOOTER____________*/

.donate_btn_block {
    height: 100px;
    width: 1160;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 10px;
}

.donate_btn {
    width: 298px;
    height: 54px;
    position: relative;
    z-index: 2;
    border-radius: 25px;
    color: var(--bg-color);
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    cursor: pointer;
}

.donate_btn:hover {
	background: #E47209;
	// box-shadow: inset 0 0 0 3px #3a7999;
}

.donate_btn:active {
    background: #4B9200 !important;
    // transition: background 0s;
}

.donate_btn:focus {
    background: #767474;
}



.footer {
    height: 443px;
    width: 100%;
    background-color: var(--txt-color);
    position: relative;
    z-index: 2;
    @media (max-width:1001px) {
        height: 448px;
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_left_block {
    max-width: 390px;
    padding-top: 40px;
    @media (max-width:1001px) {
        width: 295px;
        padding-top: 40px;
    }
}


.footer_right_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 800px;
    padding-top: 30px;
    // height: 310px;
    @media (max-width:1001px) {
        width: 765px;
        height: 350px;
        padding-top: 20px;
    }
}

.main_btn_block {
    margin-bottom: 36px;
}

.donate_btn_block {
    margin-bottom: 25px;
}

.social_block {
    width: 140px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}

.social_row_block {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    // line-height: 110%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding-top: 2px;
    text-decoration: none;
    @media (max-width:1001px) {
        margin-bottom: 10px;
        padding-top: 0px;
    }
}

.social_row_block:active {
    color: #4B9200;
}

.social_row_block:active .circe_social {
    background-color: #4B9200;
}


.circe_social {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.social_row_link {
    text-decoration: none;
}

.footer__navigation {
    width: 365px;
    @media (max-width:1001px) {
        width: 327px;
    }
}

.menu_block_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 765px;
    @media (max-width:1001px) {
        width: 650px;
    }
}

.menu__body_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.form_block {
    width: 370px;
    // margin-top: -10px;
    margin-bottom: 200px;
    margin-right: 0px;
    @media (max-width:1001px) {
        margin-right: 30px;
    }
}
.form__title {
    width: 237px;
    height: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.form__item {
    width: 228px;
    height: 40px;
}


.form_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input {
    height: 42px;
    background-color: #000000;
    border-color: #FE9013;
    border-style: 1px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    width: 228px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding-left: 10px;
}


.form__input:focus{
    // border: 3px solid #4B9200;
    // box-shadow: 1px 1px 2px 0 blue;
    // outline-color: #4B9200;
    outline: none;
    border-color: #4B9200;

}

.form__body {
    width: 370px;
}

.submit_btn {
    width: 129px;
    height: 42px;
    background: #F1F3F2;
    border: 1px solid var(--txt-color);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--txt-color);
    cursor: pointer;
}

.submit_btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.submit_btn:active {
    color: #4B9200;
	box-shadow: inset 0 0 0 1px #4B9200;
}

// .submit_btn:focus {
//     background: #767474;
// }




.menu__link_footer {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

}

.menu__link_footer:active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu__body_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.footer__author {
    padding-top: 15px;
    width: 230px;
    height: 70px;
}

.footer__author__link {
    right: 230px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__author__link:active {
    color: #4B9200;
	text-decoration: underline;
}


